<!-- <ion-content padding class="has-header"> class="background-header" -->
  <ion-header> 
   <ion-navbar>
      <ion-title class="background-header"> 
     </ion-title>
   </ion-navbar>
   </ion-header>
   <ion-content padding>
   <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="UserPage" color="danger">
      <ion-segment-button value="UserLogin">
          User Login
      </ion-segment-button>
      <ion-segment-button value="PhoneLogin">
              Phone Login
      </ion-segment-button>
      </ion-segment>
      </ion-toolbar>

  
  <!-- /*=======User Login page Segments==== */ -->
  <div [ngSwitch]="UserPage" class="credential_container">
  <ion-list *ngSwitchCase="'UserLogin'">
  <form [formGroup]="userLoginFormGroup">
  <ion-row>
  <ion-col>
  <ion-list inset>
  <ion-item class="credential_rounded">
      <ion-label color="darkgray;" floating>
      <ion-icon name="person" item-start></ion-icon> 
          Enter User Name
        </ion-label> 
        <ion-input  clearInput type="text"  class="form-control" name="userName" [(ngModel)]="userName" 
        formControlName="userName">
      </ion-input>
  </ion-item>
  <div *ngIf="!userLoginFormGroup.controls.userName.valid &&
    (userLoginFormGroup.controls.userName.dirty || submitted)" class="validator-error">
  Please enter a valid user name.
   </div>
  <ion-item class="credential_rounded">
  <ion-label color="stable" floating>
  <ion-icon name="lock" item-start></ion-icon>
      Enter Password</ion-label>
  <ion-input  clearInput type="{{type}}" class="form-control" name="password" [(ngModel)]="password" 
  formControlName="password"></ion-input>
  <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
  <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
  </ion-item>
  <div *ngIf="userLoginFormGroup.controls.password.hasError('pattern') &&
  (userLoginFormGroup.controls.password.dirty || submitted)"
  class="validator-error">
  Password should be at least 8 characters long and contain one number, one character and one special character.
  </div>
  <ion-item class="credential_rounded">
  <button *ngIf="!validPassword" ion-button clear type="button" color="{{color}}" item-start (click)="rememberPassword()">
  <ion-icon name="ios-sync" item-start></ion-icon>Automtic login</button>
  <button *ngIf="validPassword" ion-button clear type="button" color="{{color}}" item-start (click)="rememberPassword()"> 
  <ion-icon name="ios-sync" item-start></ion-icon>Automtic login</button>
  <!-- <ion-label style="position: left;"></ion-label> -->
  </ion-item>
  </ion-list>
  <div style="position:relative;width:95%; height:100px;text-transform: uppercase;">
    <button ion-button full round   type="submit" color="danger" (click)="userSubmit()"  [disabled]="!userLoginFormGroup.valid" >Login</button>
  </div>
  <div style="margin-bottom: -3vh;margin-top: -3vh;">
  <button ion-button clear item-start style="font-size: 10px;color: darkgray;" (click)="forgetPage()">Forget Password</button>
  <button ion-button clear item-start style="color: darkgray;">|</button>
  <button ion-button clear item-start style="font-size: 10px;color: darkgray;" (click)="registerPage()">Register Account</button>
  </div>
  <ion-item no-lines class="credential_rounded">
      <button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
      <button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
      <button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
    </ion-item>
  </ion-col>
  </ion-row>
  </form>
  </ion-list>
  <!-- /*=======Phone Login Page */ -->
  <ion-list *ngSwitchCase="'PhoneLogin'">
  <form [formGroup]="phoneLoginFormGroup">
     <ion-row>
     <ion-col>
     <ion-list inset>
    <ion-item class="credential_rounded"> 
    <ion-label color="stable" floating>
    <ion-icon name="phone-portrait" item-start></ion-icon>
      Enter Mobile Number</ion-label>
    <ion-input autofocus clearInput type="tel"   class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
    formControlName="telNumber">
    </ion-input>  
  </ion-item>
    <div *ngIf="!phoneLoginFormGroup.controls.telNumber.valid &&
    phoneLoginFormGroup.controls.telNumber.dirty"
      class="validator-error">
    Please enter a valid Mobile.
    </div>
    <ion-item class="credential_rounded">
      <ion-label color="stable" floating>
      <ion-icon name="text" item-start></ion-icon>
            Enter OTP Sent to your mobile</ion-label> 
      <ion-input clearInput type="text" class="form-control" name="verificationCode" [(ngModel)]="verificationCode"  formControlName="verifyCode"  >
      </ion-input>
    <button ion-button item-right small outline round color="danger" type="button" >{{"60S"}}</button>
    </ion-item>

    <!-- <ion-item>    
    <label class="switch">
        <input class="switch-input" type="checkbox" (ionchange)="showUnlockOTP($event)" />
        <span class="switch-label" data-on="YES" data-off="NO"></span> 
        <span class="switch-handle"></span>
    </label>
    </ion-item> -->
     </ion-list>
     <div style="width:95%; height:100px;text-transform: uppercase;">   
      <button ion-button round full type="submit" (click)="phoneSubmit()"  color="danger" [disabled]="!phoneLoginFormGroup.valid" >Login</button>
      </div>
      <div style="margin-bottom: -3vh;margin-top: -3vh;">
      <button ion-button clear item-start style="font-size: 10px;color: darkgray;" (click)="forgetPage()">Forget Password</button>
      <button ion-button clear item-start style="color: darkgray;">|</button>
      <button ion-button clear item-start style="font-size: 10px;color: darkgray;" (click)="registerPage()">Register Account</button>
      </div>
     <ion-item no-lines class="credential_rounded">
         <button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
         <button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
         <button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
      </ion-item>
     </ion-col>
     </ion-row>
  </form>
  </ion-list>
  </div>
</ion-content>

<!-- <ion-content  padding class="has-header">
  </ion-content>
    <ion-header>
        <ion-navbar>
          <ion-title> 
              <!-- <a href="http://www.rongdaitong.cn/">
            <img src="../assets/imgs/login_new_image.png"/>
            </a> -->
           <!-- </ion-title>
        </ion-navbar>
</ion-header>  --> 
<!-- <ion-content padding>
<ion-header>
<ion-toolbar no-border-top>
 <ion-segment [(ngModel)]="UserPage" color="danger">
    <ion-segment-button value="UserLogin">
      User Login
      </ion-segment-button>
      <ion-segment-button value="PhoneLogin">
          Phone Login
        </ion-segment-button>
 </ion-segment>
</ion-toolbar>
</ion-header>

<div [ngSwitch]="UserPage">
  <ion-list *ngSwitchCase="'UserLogin'">
  <form [formGroup]="userLoginFormGroup"> 
  <ion-row>
  <ion-col>
  <ion-list inset>
  <ion-item>
   <ion-label color="stable" floating>
    <ion-icon name="person" item-start></ion-icon>
    Enter User Name
  </ion-label> 
  <ion-input autofocus clearInput type="text"  class="form-control" name="userName" [(ngModel)]="userName" 
  formControlName="userName">
</ion-input>
  </ion-item>
  <div *ngIf="!userLoginFormGroup.controls.userName.valid &&
    (userLoginFormGroup.controls.userName.dirty || submitted)" class="validator-error">
  Please enter a valid user name.
   </div>
   <ion-item> 
   <ion-label color="stable" floating>
  <ion-icon name="lock" item-start></ion-icon>
        Enter Password</ion-label>
  <ion-input  clearInput type="{{type}}" class="form-control" name="password" [(ngModel)]="password" 
          formControlName="password"></ion-input>

  <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
  <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
          
</ion-item>
<div *ngIf="userLoginFormGroup.controls.password.hasError('pattern') &&
(userLoginFormGroup.controls.password.dirty || submitted)"
class="validator-error">
Password should be at least 8 characters long and contain one number, one character and one special character.
</div>
<ion-item>
<ion-radio class="radio" color="danger" name="autoLogin" checked="false">
</ion-radio>
  <ion-label>Auto </ion-label>
</ion-item>
<button ion-button full round  type="submit" color="danger" (click)="userSubmit()"  [disabled]="!userLoginFormGroup.valid" >Login</button>
<ion-item>
<div style="position: left; width: auto;height: auto;">
    <button ion-button clear item-start (click)="forgetPage()">Forget Password </button>
    <button ion-button clear item-start (click)="registerPage()">| Register Account</button>
 </div>
</ion-item>
<ion-item>
<button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
<button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
<button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
</ion-item>
</ion-list>
</ion-col>
</ion-row>
  </form>
  </ion-list>
<!-- 
/*=======Phone Login Page */ -->
<!-- <ion-list *ngSwitchCase="'PhoneLogin'">
 <form [formGroup]="phoneLoginFormGroup">
<ion-row>
  <ion-col>
  <ion-list inset>
  <ion-item> 
      <ion-label color="stable" floating>
      <ion-icon name="phone-portrait" item-start></ion-icon>
        Enter Mobile Number</ion-label>
      <ion-input autofocus clearInput type="tel"   class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
      formControlName="telNumber">
      </ion-input>  
    </ion-item>
      <div *ngIf="!phoneLoginFormGroup.controls.telNumber.valid &&
      phoneLoginFormGroup.controls.telNumber.dirty"
        class="validator-error">
      Please enter a valid Mobile.
      </div>
      <ion-item>
      </ion-item>
      <ion-item>
          <ion-label color="stable" floating>
          <ion-icon name="text" item-start></ion-icon>
            Enter OTP Sent to your mobile</ion-label> 
          <ion-input clearInput type="text" class="form-control" name="verificationCode" [(ngModel)]="verificationCode"  formControlName="verifyCode"  >
          </ion-input>
          <button ion-button item-right small outline round color="danger" type="button" >{{"60S"}}</button>
       <!-- <button class="verifyBtn"  ion-button item-end icon-start (click)="sendLoginCode(phoneNumber)" >Verify</button> -->
      <!-- </ion-item>
      <button ion-button round full type="submit" (click)="HomePage()"  color="danger" [disabled]="!phoneLoginFormGroup.valid" >Login</button>
      <ion-item>
      <div style="position: left; width: auto;height: auto;">
      <button ion-button clear item-start (click)="forgetPage()">Forget Password </button>
      <button ion-button clear item-start (click)="registerPage()">| Register Account</button>
    </div>
    </ion-item>
    <ion-item>
    <button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
    <button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
    <button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
    </ion-item>
  </ion-list>
  </ion-col>
</ion-row>
  </form>
</ion-list>

  </div>
</ion-content> --> 



<!-- 
<ion-footer>
    <ion-grid padding center text-center>
      <ion-row>
        <ion-col no-padding>
        <!-- <a ion-item  color="stable" href="https://www.ionicframework.com">
          <ion-icon name="arrow-dropright"> No Landing</ion-icon> 
          </a> -->
          <!-- <ion-label color="stable" floating>
              No Landing
              <ion-icon name="arrow-dropright" item-right></ion-icon> 
              </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer> --> 
  <ion-footer>
  <div class="btn-wrapper">
  <button ion-button clear item-start style="color: darkgray;">No Landing&nbsp;&nbsp;
  <ion-icon name="arrow-forward" item-right></ion-icon> </button>
    </div>
  </ion-footer>
 