<ion-content class="has-header">
  </ion-content>
    <ion-header>
        <ion-navbar>
          <ion-title> 
              <a href="http://www.rongdaitong.cn/">
            <img src="../assets/imgs/login_new_image.png"/>
            </a>
           </ion-title>
        </ion-navbar>
</ion-header> 

<ion-content padding>
<ion-header>
<ion-toolbar no-border-top>
 <ion-segment [(ngModel)]="UserPage" color="danger">
    <ion-segment-button value="UserLogin">
      User Login
      </ion-segment-button>
      <ion-segment-button value="PhoneLogin">
          Phone Login
        </ion-segment-button>
 </ion-segment>
</ion-toolbar>
</ion-header>

<div [ngSwitch]="UserPage">
  <ion-list *ngSwitchCase="'UserLogin'">
  <form [formGroup]="userLoginFormGroup"> 
  <ion-row>
  <ion-col>
  <ion-list inset>
  <ion-item>
   <ion-label color="stable" floating>
      <ion-icon name="person" item-start></ion-icon> 
    Enter User Name</ion-label> 
  <ion-input autofocus clearInput type="text"  class="form-control" name="userName" [(ngModel)]="userName" 
                formControlName="userName"></ion-input>
  </ion-item>
  <div *ngIf="!userLoginFormGroup.controls.userName.valid &&
    (userLoginFormGroup.controls.userName.dirty || submitted)" class="validator-error">
  Please enter a valid user name.
   </div>
   <ion-item>
      <ion-label color="stable" floating>
          <ion-icon name="lock" item-start></ion-icon> 
        Enter Password</ion-label>
      <ion-input  clearInput type="{{type}}" class="form-control" name="password" [(ngModel)]="password" 
          formControlName="password"></ion-input>

  <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
  <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
          
</ion-item>
<div *ngIf="userLoginFormGroup.controls.password.hasError('pattern') &&
(userLoginFormGroup.controls.password.dirty || submitted)"
class="validator-error">
Passwords should be at least 8 characters long and contain one number, one character and one special character.
</div>
<ion-item>
<ion-radio class="radio" color="danger" name="autoLogin" checked="false">
</ion-radio>
  <ion-label>Auto </ion-label>
</ion-item>
<button ion-button full round  type="submit" color="danger" (click)="userSubmit()"  [disabled]="!userLoginFormGroup.valid" >Login</button>
<ion-item>
<div style="position: left; width: auto;height: auto;">
    <button ion-button clear item-start (click)="buttonClick()">Forget Password </button>
    <button ion-button clear item-start (click)="buttonClick()">| Register Account</button>
 </div>
</ion-item>
<ion-item>
<button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
<button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
<button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
</ion-item>
</ion-list>
</ion-col>
</ion-row>
  </form>
  </ion-list>
<!-- 
/*=======Phone Login Page */ -->
<ion-list *ngSwitchCase="'PhoneLogin'">
 <form [formGroup]="phoneLoginFormGroup">
<ion-row>
  <ion-col>
  <ion-list inset>
  <ion-item> 
      <ion-label color="stable" floating>
        <ion-icon name="call" item-start></ion-icon>
        Enter Mobile Number</ion-label>
      <ion-input autofocus clearInput type="tel"   class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
      formControlName="telNumber">
      </ion-input>  
    </ion-item>
      <div *ngIf="!phoneLoginFormGroup.controls.telNumber.valid &&
      phoneLoginFormGroup.controls.telNumber.dirty"
        class="validator-error">
      Please enter a valid Mobile.
      </div>
      <ion-item>
        
      </ion-item>
      <ion-item>
          <ion-label color="stable" floating>
              <ion-icon name="lock" item-start></ion-icon>
            Enter OTP Sent to your mobile</ion-label> 
          <ion-input clearInput type="text" class="form-control" name="verificationCode" [(ngModel)]="verificationCode"  formControlName="verifyCode"  >
          </ion-input>
          <button class="verifyBtn"  ion-button item-end icon-start (click)="sendLoginCode(phoneNumber)" >Verify</button>
      </ion-item>
      <button ion-button round full type="submit" (click)="HomePage()"  color="danger" [disabled]="!phoneLoginFormGroup.valid" >Login</button>
      <ion-item>
      <div style="position: left; width: auto;height: auto;">
      <button ion-button clear item-start (click)="buttonClick()">Forget Password </button>
      <button ion-button clear item-start (click)="buttonClick()">| Register Account</button>
    </div>
    </ion-item>
    <ion-item>
    <button ion-fab  item-start  color="danger" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
    <button ion-fab  item-start  color="danger"><ion-icon name="custom-qq"></ion-icon></button>
    <button ion-fab  item-start  color="danger"><ion-icon name="custom-weibo"></ion-icon></button>
    </ion-item>
  </ion-list>
  </ion-col>
</ion-row>
  </form>
</ion-list>

  </div>
</ion-content>




<ion-footer>
    <ion-grid padding center text-center>
      <ion-row>
        <ion-col no-padding>
        <a ion-item  color="stable" href="https://www.ionicframework.com">
                No Landing
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>



