page-credential {
    ion-title   {
        object-fit: resize;
        width: auto !important;
        position: relative !important;
        border: 0;
        padding: 0;
        background-size: cover;
      };
}
ion-item {
    position: relative;
  }

.validator-error {
    color: color($colors, danger);
    padding-top: 8px;
    padding-left: 16px;
  }
    .radio{
        text-align: left;
        position: relative;
    }
