page-credential {
   .has-header   {
        width: 100%;
        height:auto;
        border-radius: 100%;
        background-size: cover;
        margin-left: auto;
        margin-right:auto;
        display: block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      };
}
ion-item {
    position: relative;
  }

.validator-error {
    color: color($colors, danger);
    padding-top: 8px;
    padding-left: 16px;
  }
    .radio{
        text-align: left;
        position: relative;
    }
