<ion-header>
</ion-header>
<ion-content padding class="bg_image">
  <a href="http://www.rongdaitong.cn/" target="_blank">
 <img style="width:2000%;height:auto;"  src="assets/imgs/login_new_image.png" alt="logo"/>
  </a>
  <ion-toolbar no-lines no-border-top no-padding>
      <ion-segment [(ngModel)]="UserPage" color="coralRed">
      <ion-segment-button value="UserLogin">
       <span style="text-transform: none;"> {{ 'userLogin' | translate }}</span>
        </ion-segment-button>
        <ion-segment-button value="PhoneLogin">
            <span style="text-transform: none;">{{ 'phoneLogin' | translate }}</span>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>


  <!-- /*=======User Login page Segments==== */ -->
  <div [ngSwitch]="UserPage" class="credential_container">
  <ion-list *ngSwitchCase="'UserLogin'">
    <form [formGroup]="userLoginFormGroup">
      <ion-row>
      <ion-col>
      <ion-list inset>
          <ion-item class="credential_rounded">
        <ion-label color="darkgray;" floating>
              <ion-icon name="person" item-start></ion-icon> 
              {{ "enterUserName" | translate }}
                </ion-label> 
                <ion-input  clearInput type="text"  class="form-control" name="userName" [(ngModel)]="userName" 
                formControlName="userName">
              </ion-input>
          </ion-item>
          <div *ngIf="!userLoginFormGroup.controls.userName.valid &&
            (userLoginFormGroup.controls.userName.dirty || submitted)" class="validator-error">
          {{ "enterValidUserName" | translate }}
            </div>
            <ion-item class="credential_rounded">
              <ion-label color="stable" floating>
              <ion-icon name="lock" item-start></ion-icon>
              {{ "enterPassword" | translate }}</ion-label>
              <ion-input  clearInput type="{{type}}" class="form-control" name="password" [(ngModel)]="password" 
              formControlName="password"></ion-input>
              <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
              <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
              </ion-item>
              <div *ngIf="userLoginFormGroup.controls.password.hasError('pattern') &&
              (userLoginFormGroup.controls.password.dirty || submitted)"
              class="validator-error">
              {{ "enterValidPassword" | translate }}
              </div>
              <ion-item   style="position: relative; margin-left:auto;margin-top:-1vh;margin-bottom: -1vh;">
                  <button *ngIf="!validPassword" ion-button clear type="button" color="{{color}}" item-start (click)="rememberPassword()">
                  <ion-icon name="ios-sync" item-start style="margin-left: -1vh;"></ion-icon><p style="text-transform: none;">{{ "automaticLogin" | translate }}</p></button>
                  <button *ngIf="validPassword" ion-button clear type="button" color="{{color}}" item-start (click)="rememberPassword()"> 
                  <ion-icon name="ios-sync" item-start style="margin-left: -1vh;"></ion-icon><p style="text-transform: none;">{{ "automaticLogin" | translate }}</p></button>
                </ion-item>
                </ion-list>
                <div style="position:relative;width:95%; height:auto;text-transform: none;margin-top:0vh;margin-bottom: 0vh;">
                  <button ion-button full round style="background:coral"  type="submit"  (click)="userSubmit()"  [disabled]="!userLoginFormGroup.valid" >{{ "btnLogin" | translate }}</button>
                </div>
                <ion-item no-lines style="margin-bottom: -1vh;margin-top: -1vh;">
                <button ion-button clear item-start style="font-size: 10px;color: darkgray;text-transform: none;" (click)="forgetPage()">{{ "forgetPassword" | translate }}</button>
                <button ion-button clear item-start style="color: darkgray;">|</button>
                <button ion-button clear item-start style="font-size: 10px;color: darkgray;text-transform: none;" (click)="registerPage()">{{ "RegisterAccount" | translate }}</button>
                </ion-item>
                <ion-item no-lines style="position:absolute;margin-bottom: 0vh;margin-top: 0vh;">
                    <button ion-fab  item-start style="background:coral"  (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
                    <button ion-fab  item-start style="background:coral"><ion-icon name="custom-qq"></ion-icon></button>
                    <button ion-fab  item-start style="background:coral"><ion-icon name="custom-weibo"></ion-icon></button>
                </ion-item>
                </ion-col>
                </ion-row>
          </form>
        </ion-list>
     <!-- /*=======Phone Login Page */ -->
    <ion-list *ngSwitchCase="'PhoneLogin'">
      <form [formGroup]="phoneLoginFormGroup">
        <ion-row>
            <ion-col>
            <ion-list inset>
            <ion-grid>
              <ion-row>
                 <ion-col>
              <ion-select item-start class="select-view" style="width:180px; margin-left: -4vh; margin-top:2vh;"  [(ngModel)]="countryCode" formControlName="countryCode">
                  <ion-option value="cn">+86</ion-option>
                  <ion-option value="us">+1</ion-option>
                  <ion-option value="in">+91</ion-option>
              </ion-select>
                </ion-col> 
                <ion-col>
                   <ion-item style=" width:200px; margin-left: -18vh; margin-top: -4vh;">
                      <ion-label color="stable" floating>
                          <ion-icon name="phone-portrait" item-start></ion-icon>
                          {{ "enterMobileNumber" | translate }}</ion-label>
                    <ion-input autofocus clearInput type="tel" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
                    formControlName="phoneNumber">
                    </ion-input>
 
                  </ion-item>
                
                </ion-col>
                <!-- <ion-col>
              <ion-label color="stable" floating>
                  <ion-icon name="phone-portrait" item-start></ion-icon>
                    Enter Mobile Number</ion-label>
                  <ion-input autofocus clearInput type="tel"   class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
                  formControlName="phoneNumber">
                  </ion-input>
                  <div *ngIf="!phoneLoginFormGroup.controls.phoneNumber.valid &&
                  (phoneLoginFormGroup.controls.phoneNumber.dirty || submitted)" class="validator-error">
                  Please enter a valid Mobile.
                  </div>
                  </ion-col> -->
              </ion-row>
            </ion-grid>
              
         
             <p *ngIf="unlockOTP==true"> 
              <ion-item class="credential_container">
                <ion-label color="stable" floating>
                <ion-icon name="text" item-start></ion-icon>
                   {{ "enterOTP" | translate }}</ion-label> 
                <ion-input clearInput type="text" class="form-control" name="verificationCode" [(ngModel)]="verificationCode"  formControlName="verificationCode"  >
                </ion-input>
              <button ion-button item-right small outline round color="danger" type="button" >
                <div  style="margin-right: -1vh; margin-bottom: -1vh;  font-size: 14px;"></div><p id="displayDiv"></p></button>
              </ion-item> 
             </p>
             <div *ngIf="!phoneLoginFormGroup.controls.verificationCode.valid &&
             (phoneLoginFormGroup.controls.verificationCode.dirty || submitted)"
               class="validator-error">
               {{ "enterValidOTP" | translate }}
             </div>
          <ion-item style="margin-left:-2vh;">
          <label class="switch">
            <input  class="switch-input" type="checkbox" (click)="handleSwitchOTP(phoneNumber)"/>
             <span class="switch-label" data-on="SEND-OTP" data-off="OFF"></span> 
              <span class="switch-handle"></span> 
            </label>
          </ion-item>
                </ion-list>
                <div style="position:relative;width:95%; height:auto;text-transform: none;margin-top:0vh;margin-bottom:0vh;">
                <button ion-button round full style="background:coral;text-transform: none;" type="submit" (click)="phoneSubmit()"  [disabled]="!phoneLoginFormGroup.valid" >{{ "btnLogin" | translate}}</button>
                 </div>
                <ion-item no-lines  style="margin-bottom: -1vh;margin-top: -1vh;">
                <button ion-button clear item-start style="font-size: 10px;color: darkgray;text-transform: none;" (click)="forgetPage()">{{ "forgetPassword" | translate }}</button>
                <button ion-button clear item-start style="color: darkgray;">|</button>
                <button ion-button clear item-start style="font-size: 10px;color: darkgray;text-transform: none;" (click)="registerPage()">{{ "registerAccount" | translate }}</button>
                </ion-item>
                <ion-item no-lines style="position:absolute;margin-bottom: -1vh;margin-top: -1vh;">
                    <button ion-fab  item-start  style="background:coral" (click)="wechatShare(login)"><ion-icon name="custom-wechat"></ion-icon></button>
                    <button ion-fab  item-start  style="background:coral"><ion-icon name="custom-qq"></ion-icon></button>
                    <button ion-fab  item-start  style="background:coral"><ion-icon name="custom-weibo"></ion-icon></button>
                 </ion-item>
                </ion-col>
              </ion-row>
          </form>
        </ion-list>

  </div>
</ion-content>


  <ion-footer>
  <div class="btn-wrapper">
  <button ion-button clear item-start style="color: darkgray;text-transform: none;">No Landing&nbsp;&nbsp;
  <a href="http://www.rongdaitong.cn/" target="_blank">
  <ion-icon name="arrow-forward" item-right></ion-icon></a></button>
    </div>
  </ion-footer>
 