page-register {
.register_container{
    margin-left:auto; 
    margin-right: auto;
} 
.register_rounded{
    width: 100%;
    height: auto;
    margin-bottom:0px;
    margin-top:0vh;
}
.regSubmit{
    position: relative;
    text-align: center;
    background-color: red;
  }



};

 
