page-register {
    ion-header{
        text-align: center;
        margin-top: 05%
    };
    form{
        margin-bottom: 30px;
    }
};
.formReg{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.customIcon {

    font-size: 1.7em;
}
.regSubmit{
    position: relative;
    text-align: center;
    background-color: red;
  }
