page-register {
ion-label{
    color:#7f7f7f;
    position: relative;
}
.register_container{
    margin-left:auto; 
    margin-right: auto;
} 
.register_rounded{
    width: 100%;
    height: auto;
    margin-bottom:0px;
    margin-top:0vh;
}
.regSubmit{
    position: relative;
    text-align: center;
    background-color: coral;
  }
  .validator-error {
    color: color($colors, danger);
    padding-top: 8px;
    padding-left: 16px;
  }
}

 
