page-forget {
     .forget_container{
        margin-left:auto; 
        margin-right: auto;
     }
     .forget_rounded{
        width: 100%;
        height: auto;
        margin-bottom: 0px;
        margin-top: 0vh;
     }

    .customIcon {

        font-size: 1.7em;
    }
    
    .formForget{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }
    .forgetSubmit{
        position: relative;
        text-align: center;
        background-color: coral;
      }
    
   
}

 