<ion-header>
  <ion-navbar hideBackButton> 
  <ion-buttons left>
   <button ion-button (click)="credentialLoginPage()">
    <ion-icon class="customIcon" name="arrow-back"></ion-icon>
    </button>
  </ion-buttons> 
    <ion-title>Forget the Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding center text-center>
  <form [formGroup]="forgetFormGroup">
  <ion-row>
    <ion-col>
    <ion-list inset>
    <ion-item>
    <ion-label color="stable" floating>
    <ion-icon name="phone-portrait" item-start></ion-icon> 
      Enter Mobile Number
      </ion-label>
      <ion-input autofocus clearInput type="tel"   class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" 
        formControlName="telNumber">
      </ion-input>
    </ion-item>
    <ion-item>
    <ion-label color="stable" floating>
    <ion-icon name="text" item-start></ion-icon>
          Enter OTP Sent to your mobile</ion-label> 
    <ion-input clearInput type="text" class="form-control" name="verificationCode" [(ngModel)]="verificationCode"  formControlName="verificationCode">
    </ion-input>
    <button  ion-button outline  color="danger" type="button" item-right (click)="getVerificactionCode(phoneNumber)">
      <div style="margin-bottom: -8px; font-size: 12px;"> Get Code</div></button>
    </ion-item>
    <ion-item>
    <ion-label color="stable" floating>
    <ion-icon name="lock" item-start></ion-icon> 
            Enter Password</ion-label>
    <ion-input  clearInput type="{{type}}" class="form-control" name="password" [(ngModel)]="password" 
              formControlName="password"></ion-input>
    
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
              
    </ion-item>
    <div *ngIf="forgetFormGroup.controls.password.hasError('pattern') &&
    (forgetFormGroup.controls.password.dirty || submitted)"
    class="validator-error">
    Passwords should be at least 8 characters long and contain one number, one character and one special character.
    </div>
    <ion-item>
    <ion-label color="stable" floating>
    <ion-icon name="text" item-start></ion-icon>
         Please Enter the letters
    </ion-label>
    <ion-input  clearInput type="text" class="form-control" name="typeCaptcha" [(ngModel)]="typeCaptcha" 
    formControlName="typeCaptcha"></ion-input>
    <button ion-button  clear item-right color="dark" type="button" value="{{captcha}}">
     <div style="margin-bottom: -8px; font-size: 12px;"> {{captcha}}
    <ion-icon name="ios-refresh-circle-outline"  (click)="doRefreshCaptcha()"></ion-icon>
    </div>
     </button>
    </ion-item>
    </ion-list>
    <button ion-button full round  type="submit" (click)="doValidateSubmitForget()" class="forgetSubmit" [disabled]="!forgetFormGroup.valid" ><ion-label color="stable" fixed>Reset Password</ion-label></button>
    <ion-item padding center text-center>
    </ion-item>
    </ion-col>
  </ion-row>
 </form>
</ion-content>
