page-forget {
    .customIcon {

        font-size: 1.7em;
    }
    
    .formForget{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }
    .forgetSubmit{
        position: relative;
        text-align: center;
        background-color: red;
      }
    
   
}

 