.ios, .md {
page-stock-details {
   #lineChart{
       position: relative;
    //    max-width:200%;
    //    height:200px;
    //    position: relative;
   }

    ion-card-header {
        font-weight: bold;
    }
    ion-row{
        position: relative;
        text-align: center;
    }
   ion-col{
       position: relative;
       text-align: center;
       border: thin solid black;
    }
.nav-left-menu{
   // border: thin solid black;
    margin:0 auto;
}
.nav-left-menu ul{ list-style-type:none;padding: 0px 0 20px 0; display: block;  }
//.nav-left-menu ul li{float:left; height:10px; line-height:10px; text-align:center; position:relative;}
li{
    margin:0px;
    //border: thin solid black;
    word-break:break -all;
}


}}

