page-home {
.home-bgcolor img {
    overflow: hidden; 
    max-height: auto;
    max-width: 650px;;
    margin-left:-22.7vh;
    margin-right:-29.7vh;
    margin-top:-42.5vh;
}
 .custom-search ion-label{
    width:245px;
    margin-top:-12vh;
    text-align: right;
    color:white;
 }
 .custom-search ion-input{
    width:266px;
    height:35px;
    margin-top:-6vh;
    -border-radius: 20px;
    border-radius: 20px;
    border:solid 1px white;
    text-align: center;
}
.text-input::-webkit-input-placeholder{
    color: white;
    opacity: 1; /* Firefox */
}
.text-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.text-input::-moz-placeholder { /* Microsoft Edge */
    color: white;
}
.accordion-list {
    height: 100%;
  
}
.section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
}
.child {
    //background: #e8e7e6;
    //color: #000;
    margin-bottom: 0px;
}
.child-item {
    background: white;
    padding: 2px;
}
.label {
    margin: 0px;
}
.list {
    margin-bottom: 2px;
}
p {
    font-size: 10px;
    text-transform: none;
    //white-space: normal !important;




    // width: min-intrinsic;       /* old Chrome, Safari */
    // width: -webkit-min-content; /* less old Chrome, Safari */
    // width: -moz-min-content;    /* current Firefox */
    // width: min-content;         /* current Chrome, Safari; not IE or Edge */
    // white-space: normal;
    // font-size: 10px;
    // font-style: normal;
    // width:auto;
    // height:auto;
  }

}
