 <ion-header>
<ion-navbar hideBackButton>
    <ion-buttons  left>
      <button ion-button (click)="credentialLoginPage()">
      <ion-icon style="margin-top:-9vh;" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
      <div class="home-bgcolor">
          <!-- <a href="http://www.rongdaitong.cn/" target="_blank"> -->
            <img style="width:2000%;height:auto;"  src="../../assets/imgs/login_new_image.png" alt="logo"/>
          <!-- </a> -->
      </div>
      <h3 style="text-align: center; margin-top: -30vh;color: white;">Select Industry</h3>
      <div class="custom-search">
      <ion-label><ion-icon  item-end name="search"></ion-icon></ion-label>
      <ion-input clearInput type="text" placeholder="Enter your company or trade name"></ion-input>
  </div>
  <div style="text-align: center;color: white;font-size: 10px;">
  <button ion-button clear item-start style="color:white;"   (click)="manualIndustry()">Manual Industry</button>
  </div>
  </ion-navbar>
</ion-header>
<ion-content padding center text-center>
  <div style="text-align: left;">
    <button ion-button small  round  color="danger" type="button">Hot Industry</button>
  </div>

<ion-list inset class="accordion-list">
<!-- First Level -->
<ion-list-header *ngFor="let item of industryInformation; let i = index" padding>
 <ion-icon name="leaf" item-left></ion-icon>
   <!-- Toggle Button -->
  <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
  </button>
</ion-list-header>
</ion-list>

</ion-content>




