
 <ion-header>
     <ion-navbar>
   <button ion-button menuToggle left>
            <ion-icon style="color: white;margin-top:-3vh;" name="menu"></ion-icon>
            </button> 
         <ion-title *ngIf="!isSearchOpened">
                <p style="margin-top:0vh;font-size: 16px;text-align: center;text-transform: none; color: white;">{{ "selectIndustry" | translate }}</p>
         </ion-title>
         <ion-searchbar *ngIf="isSearchOpened" [showCancelButton]="true" 
          (ionCancel)="isSearchOpened=false"  (ionInput)="onSearchIndustry()" [(ngModel)]="searchQuery" >
         </ion-searchbar> 
         <ion-buttons end style="margin-top:-7vh;">
           <button ion-button icon-only *ngIf="!isSearchOpened" (click)="isSearchOpened=true">
           <ion-icon style="color: white" name="search"></ion-icon>
           </button>
         </ion-buttons>
          <!-- <ion-list>
                <ion-item *ngFor="let item of industryInformation;let i = index">
                    {{item.title}}
                </ion-item>
            </ion-list>  -->
        <!--   -->
      <div style="color:silver">Manual Industry</div>
      <img  src="assets/imgs/login_new_image.png" alt="logo"/>

      <!-- <div style="text-align: center; margin-bottom: 0vh;">
        <button ion-button clear style="text-transform: none; color: white;"  (click)="manualIndustry()"><div>{{ "manualIndustry" | translate }}</div></button> 
       </div> -->
 
     </ion-navbar>
   
 </ion-header>

 <ion-content padding center text-center>
    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
  </ion-refresher>
    <div style="text-align: left;">
    <button ion-button small  round style="font-size: 12px;text-transform: none; background: coral;"  type="button">{{ "hotIndustry" | translate }}</button>
    </div>
    <ion-list  class="accordion-list" text-wrap>
    <!-- First Level -->
    <ion-list-header *ngFor="let item of industryInformation; let i = index" no-lines no-padding> 
    <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-start name="ios-arrow-dropright" *ngIf="!item.open"></ion-icon> 
        <ion-icon item-start  name="arrow-dropdown"  *ngIf="item.open"></ion-icon>
        <p style="position: relative;left:0px; color:coral;">{{item.name}}</p>
    </button> 
    <ion-list *ngIf="item.children && item.open" no-lines>  
    <!-- Second Level -->
    <ion-list-header *ngFor="let child of item.children; let j = index" no-padding >
    <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
    <p text-lowercase>{{ child.information }}</p>
    </ion-item> 
    </ion-list-header>
    <button ion-button clear item-start style=" font-size: 14px;color:coral;margin-left: -30vh;margin-top: -1vh;text-transform: none;" (click)="selectionPage()">{{ "confirmation" | translate }}</button>
    </ion-list>
    </ion-list-header>
    </ion-list>
 </ion-content>

         
    