 <ion-header> 
  <ion-navbar hideBackButton>
  <ion-buttons  left>
  <button ion-button (click)="credentialLoginPage()">
      <ion-icon style="margin-top:-12.5vh; color:white;" name="arrow-back"></ion-icon>
  </button>    
  </ion-buttons>
  <ion-title><div style="margin-top:0vh;text-align: center; font-size: 14px;color: white;">Select Industry</div></ion-title>
  <div class="home-bgcolor">
      <!-- <a href="http://www.rongdaitong.cn/" target="_blank"> -->
        <img style="width:2000%;height:auto;"  src="assets/imgs/login_new_image.png" alt="logo"/>
      <!-- </a> -->
  </div>
   <form>
    <span class="custom-search">
    <ion-label><ion-icon  item-end name="search"></ion-icon></ion-label> 
    <ion-input clearInput type="text" placeholder="Enter your company or trade name"></ion-input></span>
   </form>
   <div style=" text-align: center;">
      <button ion-button clear style="margin-top: 0px; text-align: center; color:white;font-size: 12px;" (click)="manualIndustry()">Manual Industry</button>
    </div>
  </ion-navbar>
 
 </ion-header> 

 <ion-content padding center text-center>
<div style="text-align: left;">
    <button ion-button small  round style="font-size: 12px;text-transform: none; background: coral;"  type="button">Hot Industry</button>
  </div>
  <ion-list  class="accordion-list" text-wrap>
  <!-- First Level -->
  <ion-list-header *ngFor="let item of industryInformation; let i = index" no-lines no-padding>
    <!-- Toggle Button -->
    <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-start name="ios-arrow-dropright" *ngIf="!item.open"></ion-icon> 
        <ion-icon item-start  name="arrow-dropdown"  *ngIf="item.open"></ion-icon>
        <p style="position: relative;left:0px; color:coral;">{{item.name}}</p>
    </button>
  <ion-list *ngIf="item.children && item.open" no-lines>
   <!-- Second Level -->
   <ion-list-header *ngFor="let child of item.children; let j = index" no-padding >
    <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
    <p text-lowercase>{{ child.information }}</p>
    </ion-item> 
   </ion-list-header>
   <button ion-button clear item-start style=" font-size: 14px;color:coral;margin-left: -30vh;margin-top: -1vh;text-transform: none;" (click)="selectionPage()">Confirmation</button>
  </ion-list>
  </ion-list-header>
  </ion-list>
 </ion-content>
     

 
